[tool.poetry]
name = "drf-pipeline-views"
version = "0.9.0"
description = "Django REST framework views using the pipeline pattern."
authors = [
    "Matti Lamppu <lamppu.matti.akseli@gmail.com>",
]
packages = [
    { include = "pipeline_views" },
]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/MrThearMan/drf-pipeline-views"
repository = "https://github.com/MrThearMan/drf-pipeline-views"
keywords = [
    "django",
    "djangorestframework",
    "drf",
    "pipeline",
    "views",
]
classifiers = [
    "Environment :: Web Environment",
    "Framework :: Django",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Framework :: Django :: 3.2",
    "Framework :: Django :: 4.0",
    "Framework :: Django :: 4.1",
    "Framework :: Django :: 4.2",
    "Intended Audience :: Developers",
    "Natural Language :: English",
]
include = [
    "README.md",
    "LICENSE",
]
exclude = [
    "tests",
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/MrThearMan/drf-pipeline-views/issues"

[tool.poetry.dependencies]
python = ">=3.9,<4"
Django = ">=3.2"
djangorestframework = ">=3.12.0"
drf-serializer-inference = ">=0.0.2"
drf-openapi-schema = ">=0.0.3"
asgiref = ">=3.5.0"
PyYAML = ">=6.0"
typing-extensions = {version = ">=4.4.0", python = "<3.10"}
pydantic = {version = ">=1.6.2", optional = true}
uvloop = {version = ">=0.16.0", optional = true}
uritemplate = {version = ">=4.1.1", optional = true}

[tool.poetry.group.test.dependencies]
pytest = "7.3.1"
coverage = "6.5.0"
pytest-django = "4.5.2"
pre-commit = "3.3.1"
tox = "4.5.1"
tox-gh-actions = "3.1.0"
coveralls = "3.3.1"

[tool.poetry.group.docs.dependencies]
mkdocs = "1.4.3"
pymdown-extensions = "9.11"
mkdocs-mermaid2-plugin = "0.6.0"

[tool.poetry.group.lint.dependencies]
mypy = "1.2.0"
django-stubs = "4.2.0"
djangorestframework-stubs = "3.14.0"

[tool.poetry.extras]
uvloop = ["uvloop"]
pydantic = ["pydantic"]
uritemplate = ["uritemplate"]

[tool.black]
line-length = 120

[tool.ruff]
fix = true
line-length = 120
exclude = [
    "tests/*",
]
typing-modules = [
    "pipeline_views.typing",
]
select = [
    "F",  # pyflakes
    "E",  # pycodestyle errors
    "I",  # isort
    "S",  # flake8-bandit
    "C",  # flake8-comprehensions
    "B",  # flake8-bugbear
    "T",  # flake8-print
    "W",  # pycodestyle warnings
]
ignore = [
    "B905",  # `zip()` without an explicit `strict=` parameter
    "F821",  # Undefined name
    "F722",  # Syntax error in forward annotation:
]

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]
"pipeline_views/openapi/schema.py" = ["C901"]
"pipeline_views/openapi/utils.py" = ["C901"]

[tool.mypy]
python_version = "3.11"
warn_return_any = "True"
warn_unused_configs = "True"
plugins = [
    "mypy_django_plugin.main",
    "mypy_drf_plugin.main",
]

[tool.django-stubs]
django_settings_module = "tests.django.settings"

[tool.coverage.run]
relative_files = true

[tool.coverage.report]
omit = [
    "tests/*",
    "docs/*",
    ".venv/*",
    ".tox/*",
]
exclude_lines = [
    "if TYPE_CHECKING:",
    "except ImportError:",
    "pragma: no cover",
]

[tool.pytest.ini_options]
addopts = "-vv -s --log-cli-level=INFO"

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py{39, 310, 311}-drf{312, 313, 314}
isolated_build = true

[gh-actions]
python =
    3.9: py39
    3.10: py310
    3.11: py311

[testenv]
allowlist_externals =
    poetry
setenv =
    PYTHONPATH = {toxinidir}
    DJANGO_SETTINGS_MODULE = tests.django.settings
deps =
    py39: Django >=3.2,<4.0

    py310-drf312: Django >=3.2,<4.0
    py310-drf313: Django >=4.0,<4.1
    py310-drf314: Django >=4.1,<4.2

    py311-drf312: Django >=3.2,<4.0
    py311-drf313: Django >=4.0,<4.1
    py311-drf314: Django >=4.2,<4.3

    drf312: djangorestframework >=3.12.0,<3.13.0
    drf313: djangorestframework >=3.13.0,<3.14.0
    drf314: djangorestframework >=3.14.0,<3.15.0

    py39: typing-extensions
    drf-openapi-schema
    drf-serializer-inference
    asgiref
    pydantic
    pyyaml
    uritemplate

    pytest
    coverage
    pytest-django
commands =
    coverage run -m pytest -vv -s --log-cli-level=INFO
"""

[build-system]
requires = ["poetry-core>=1.5.0"]
build-backend = "poetry.core.masonry.api"
