[tool.poetry]
name = "drf-pipeline-views"
version = "0.6.3"
description = "Django REST framework views using the pipeline pattern."
authors = [
    "Matti Lamppu <lamppu.matti.akseli@gmail.com>",
]
packages = [
    { include = "pipeline_views" },
]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/MrThearMan/drf-pipeline-views"
repository = "https://github.com/MrThearMan/drf-pipeline-views"
keywords = [
    "django",
    "djangorestframework",
    "drf",
    "pipeline",
    "views",
]
classifiers = [
    "Environment :: Web Environment",
    "Framework :: Django",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Framework :: Django :: 2.2",
    "Framework :: Django :: 3.0",
    "Framework :: Django :: 3.1",
    "Framework :: Django :: 3.2",
    "Framework :: Django :: 4.0",
    "Intended Audience :: Developers",
    "Natural Language :: English",
]
include = [
    "README.md",
    "LICENSE",
]
exclude = [
    "tests",
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/MrThearMan/drf-pipeline-views/issues"

[tool.poetry.dependencies]
python = ">=3.7,<4"
Django = ">=2.2"
djangorestframework = ">=3.12.0"
asgiref = ">=3.5.0"
typing-extensions = {version = ">=4.0", python = "<3.10"}
uvloop = {version = ">=0.16.0", optional = true}
uritemplate = {version = ">=4.1.1", optional = true}
PyYAML = {version = ">=6.0", optional = true}

[tool.poetry.dev-dependencies]
pytest = "7.1.2"
coverage = "6.4.1"
pytest-django = "4.5.2"
pre-commit = "2.19.0"
tox = "3.25.0"
tox-gh-actions = "2.9.1"
coveralls = "3.3.1"
mypy = "0.950"
django-stubs = "1.11.0"
djangorestframework-stubs = "1.6.0"
mkdocs = "1.3.0"
pymdown-extensions = "9.5"
mkdocs-material = "8.3.3"
Pygments = "2.12.0"
uritemplate = "4.1.1"

[tool.poetry.extras]
uvloop = ["uvloop"]
schema = ["uritemplate", "PyYAML"]

[tool.black]
line-length = 120

[tool.isort]
profile = "black"
line_length = 120
skip_gitignore = "True"
lines_after_imports = 2
known_third_party = [
    "django",
    "rest_framework",
]

[tool.pylint.MASTER]
ignore-paths = [
    "tests/*",
    "docs/*",
    ".venv/*",
    ".tox/*",
]

[tool.pylint.messages_control]
disable = [
    "missing-module-docstring",
    "missing-class-docstring",
    "missing-function-docstring",
    "too-few-public-methods",
    "too-many-arguments",
]

[tool.pylint.format]
max-line-length = "120"

[tool.pylint.miscellaneous]
notes = [
    "BUG",
    "REFACTOR",
    "CHECK",
]

[tool.mypy]
python_version = "3.10"
warn_return_any = "True"
warn_unused_configs = "True"
plugins = [
    "mypy_django_plugin.main",
    "mypy_drf_plugin.main",
]

[tool.django-stubs]
django_settings_module = "tests.django.settings"

[tool.coverage.run]
relative_files = true

[tool.coverage.report]
omit = [
    "tests/*",
    "docs/*",
    ".venv/*",
    ".tox/*",
]
exclude_lines = [
    "if TYPE_CHECKING:",
    "except ImportError:",
    "pragma: no cover",
]

[tool.pytest.ini_options]
addopts = "-vv -s --log-cli-level=INFO"

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py{37, 38, 39}-drf312, py{38, 39, 310, 311}-drf313
isolated_build = true

[gh-actions]
python =
    3.7: py37
    3.8: py38
    3.9: py39
    3.10: py310
    3.11: py311

[testenv]
whitelist_externals =
    poetry
setenv =
    PYTHONPATH = {toxinidir}
    DJANGO_SETTINGS_MODULE = tests.django.settings
deps =
    drf312: Django >=2.2,<2.3
    drf312: djangorestframework >=3.12.0,<3.13.0

    drf313: Django >=4.0,<4.1
    drf313: djangorestframework >=3.13.0,<3.14.0

    pytest
    coverage
    pytest-django
    asgiref
    uritemplate
    pyyaml
commands =
    coverage run -m pytest -vv -s --log-cli-level=INFO
"""

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
